
.index-head{
    display: flex;
    text-align: center;
    height: 100px;
    background: url("../images/logo_bg.jpg") no-repeat;
}
.index-head-logo{
    width: 20%;
    height: 100%;
    text-align: right;
    display: table-cell;
    line-height: 100px;
}
.index-head-logo img{
    width: 70%;
    vertical-align: middle;
}
.index-head-search{
    width: 60%;
    height: 100%;
    text-align: center;
}
.search-frame{
    margin: auto;
    width: 80%;
    line-height: 100px;
}
.search-frame input{
    height: 30px;
    width: 50%;
    padding-left: 10px;
}
.search-icon{
    padding: 6px 15px 7px 15px;
    position: relative;
    height: 30px;
    right:6px;
    top: 2px;
    background-color: #ada4a8;
}
.index-head-user{
    width: 20%;
    height: 100%;
    line-height: 100px;
    text-align: center;
}
.user-info-content{
    padding-left: 10px;
    display: inline-block;
}
.user-info img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
.user-info-content a{
    color: beige;
}
.index-content{
    padding: 10px 40px;
}
.index-slideshow{
    padding: 20px 20px;
    /*border: 1px solid #aaaaaa;*/
    /*height: 360px;*/
}
.index-center{
    display: flex;
    height: 750px;
    padding: 10px 20px;
}
.index-center-left{
    width: 70%;
    height: 100%;
}
.index-center-recommend{
    width: 100%;
    height: 45%;
}
.recommend-title{
    font-size: 30px;
    margin-bottom: 20px;
}
.recommend-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}
.recommend-list-box{
    position: relative;
}
.recommend-list-box img{
    width: 100%;
    height: 200px;
}
.recommend-box-brief{
    padding-top: 5px;
    font-size: 14px;
    height: 27px;
}
.recommend-box-brief a{
    color: rgb(184,200,226);
}
.recommend-box-brief a:hover {
    color: rgb(184,200,226);
    text-decoration: underline;
}
.recommend-box-author{
    padding-top: 10px;
    font-size: 15px;
}
.recommend-box-author a{
    color: rgb(135,135,135);
}
.index-center-update{
    width: 100%;
}
.update-title{
    font-size: 30px;
    margin-bottom: 20px;
}
.update-list{
    height: 362px;
    display: flex;
}
.update-list-swiper{
    width: 55%;
    height: 100%;
}
.swiper-slide{
}
.swiper-container .swiper-wrapper .swiper-slide img{
    width: 100%;
    height: 362px;
}
.update-list-content{
    width: 45%;
    height: 100%;
}
.update-list-a li{
    padding: 5px 5px 7px 10px;
}
.update-list-a li a{
    color: #ada4a8;
}
.index-center-right{
    width: 30%;
    height: 95%;
    padding: 20px 20px;
    /*background-color: darkorange;*/
}
.index-hot-title{
    color: darkorange;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    background-color: #c9c9c9;
}
.index-hot-list-table{
    margin-top: 10px;
    width: 100%;
}
.index-hot-list-tr td{
    padding: 6px 2px;
}
.hot-number{
    color: #9195A3;
    padding: 2px 4px;
}
.index-hot-list-tr td a{
    padding-left: 6px;
}
.index-hot-list-tr td a:hover{
    color: #315EFB;
    text-decoration: underline;
    padding-left: 6px;
}
.index-post{
    height: 720px;
    background-color: cadetblue;
}
.index-send{
    height: 500px;
    background-color: darkorange;
}
.index-bottom{
    height: 50px;
    background-color: aquamarine;
}
