
.w-newList {
	position: relative;
	overflow: hidden;
}

.w-newList a {
	text-decoration: none;
	color: #333;
}

.swiper-item{
	display: flex;
	height: 400px;
}

.img {
	width: 70%;
}

.img img{
	width: 100%;
	height: 400px;
}

/*.w-newList .img img {*/
/*	transition: transform 3.5s;*/
/*	-webkit-transition: transform 3.5s;*/
/*	transform: scale(1.1);*/
/*	-webkit-transform: scale(1.1);*/
/*}*/

/*.w-newList .swiper-slide.swiper-slide-active .img img {*/
/*	transform: scale(1);*/
/*	-webkit-transform: scale(1);*/
/*}*/

.news-text {
	width: 30%;
	height: 400px;
	position: relative;
	background-color: rgb(151,161,167);
}

.w-newList .news-h {
	padding-top: 40px;
	text-align: center;
	font-size: 28px;
}

.w-newList .news-sum {
	margin-top: 30px;
	padding: 10px 20px;
	line-height: 1.8;
	letter-spacing: 1px;
	color: #000000;
}

.w-newList .more {
	position: absolute;
	left: 10px;
	bottom: 48px;
	line-height: 2.8;
	padding: 0 3em;
	border: 1px solid #aaa;
	color: #333;
	overflow: hidden;
	-webkit-transition: all .6s;
	transition: all .6s;
}

.w-newList .more:hover {
	color: #fff;
	border-color: #FF6600;
}

.w-newList .more .bgsqr1,.w-newList .more .bgsqr2,.w-newList .more .bgsqr3,.w-newList .more .bgsqr4 {
	background: #FF6600;
	position: absolute;
	top: 0;
	width: 0;
	height: 100%;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
	opacity: 0.35;
}

.w-newList .more .bgsqr3,.w-newList .more .bgsqr4 {
	opacity: 0.75;
}

.w-newList .more .bgsqr1 {
	left: 0;
}

.w-newList .more .bgsqr2 {
	right: 0
}

.w-newList .more .bgsqr3 {
	right: 0;
}

.w-newList .more .bgsqr4 {
	left: 0;
}

.w-newList .more:hover .bgsqr1,.w-newList .more:hover .bgsqr2,.w-newList .more:hover .bgsqr3,.w-newList .more:hover .bgsqr4 {
	width: 100%;
}

.w-newList .more:hover .bgsqr3,.w-newList .more:hover .bgsqr4 {
	-webkit-transition-delay: .4s;
	transition-delay: .4s;
}

.w-newList .more span {
	position: relative;
	z-index: 1;
}

.w-newList .adSN_page {
	position: absolute;
	left: auto;
	right: 10px;
	width: auto;
	z-index: 10;
	text-align: right;
}

.w-newList.swiper-container-horizontal .adSN_page {
	bottom: 20px;
}

.w-newList .adSN_page span {
	background: #c9c9c9;
	opacity: 1;
	width: 40px;
	height: 5px;
	border-radius: 0;
	-webkit-border-radius: 0;
}

.w-newList .adSN_page span.swiper-pagination-bullet-active {
	background: #f60;
}

.w-newList.swiper-container-vertical .adSN_page span {
	margin: 15px 0;
}
